<% if User.current.admin  %>
<script>
  $('.splitcontentright').append("<div class='members box'><input type='checkbox' id='notify-activity-switcher' />Accept send activities</div>")
  $('#notify-activity-switcher').attr('checked', <%= project.send_notify %>)
  $('#notify-activity-switcher').click(function(e){
    $.ajax({
      url: '/update_notify_accept',
      method:'PATCH',
      data: { name: location.pathname.replace('/projects/', ''), val: e.target.checked },
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
    })
  })
</script>
<% end %>
